/*
0 - 600px     Phone
600 - 900px   Tablet portrait
900 - 1200px  Tablet landscape
[1200px  - 1800px] Is where our normal style apply
1800px + 1 : Big Desktop
*/
/*
$breakpoint argument choices:
- Phone
- tab-port
- tab-land
- Big Desktop
*/
.slide-img:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.testimonial-section .cont div.active .img img {
  animation: testim-show 0.5s ease-in-out forwards;
  -webkit-animation: testim-show 0.5s ease-in-out forwards;
}

.testimonial-section .cont div.active h2 {
  animation: testim-content-in 0.4s ease-in-out forwards;
  -webkit-animation: testim-content-in 0.4s ease-in-out forwards;
}

.testimonial-section .cont div.active p {
  animation: testim-content-in 0.5s ease-in-out forwards;
  -webkit-animation: testim-content-in 0.5s ease-in-out forwards;
}

.testimonial-section .cont div.inactive .img img {
  animation: testim-hide 0.5s ease-in-out forwards;
}

.testimonial-section .cont div.inactive h2 {
  animation: testim-content-out 0.4s ease-in-out forwards;
}

.testimonial-section .cont div.inactive p {
  animation: testim-content-out 0.5s ease-in-out forwards;
}

@keyframes testimonial-scale {
  0% {
    box-shadow: 0px 0px 0px 0px #eee;
  }
  35% {
    box-shadow: 0px 0px 10px 5px #eee;
  }
  70% {
    box-shadow: 0px 0px 10px 5px #ea830e;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #ea830e;
  }
}
@keyframes testim-content-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes testim-content-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes testim-show {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes testim-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 auto;
  background: #f7f4f4;
}
@media only screen and (max-width: 300px) {
  body {
    font-size: 14px;
  }
}

#loading {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f7f4f4 url(/images/logo.png.png) no-repeat center;
  z-index: 99999;
}
@media only screen and (max-width: 800px) {
  #loading {
    background-size: 300px;
  }
}

.fa-chevron-left:before {
  content: "\f053";
  font-family: "fontAwesome";
}

.fa-chevron-right:before {
  content: "\f054";
  font-family: "fontAwesome";
}

.content .textbox {
  position: relative;
  max-width: 600px;
  transform: translateY(-20%);
}
@media only screen and (max-width: 1300px) {
  .content .textbox {
    transform: translateY(-12%);
  }
}
@media only screen and (max-width: 991px) {
  .content .textbox {
    position: relative;
    max-width: 100%;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .content .textbox {
    transform: translateY(-24%);
  }
}
@media only screen and (max-width: 600px) {
  .content .textbox {
    text-align: center;
    transform: translateY(-21%);
  }
}
@media only screen and (max-width: 450px) {
  .content .textbox {
    transform: translateY(-16%);
  }
}
@media only screen and (max-width: 400px) {
  .content .textbox {
    transform: translateY(-4%);
  }
}

.content .textbox p {
  font-size: 1.2rem;
  width: 100%;
  max-width: 100%;
  line-height: 1.6;
}
@media only screen and (max-width: 1200px) {
  .content .textbox p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 991px) {
  .content .textbox p {
    margin-bottom: 1.4rem;
    font-size: 1.23em;
  }
}
@media only screen and (max-width: 500px) {
  .content .textbox p {
    font-size: 1.1rem;
    line-height: 1.43;
  }
}

.content .textbox h2 {
  font-size: 4em;
  line-height: 1.5;
  font-weight: 900;
}
@media only screen and (max-width: 991px) {
  .content .textbox h2 {
    font-size: 3em;
    margin-bottom: 1.4rem;
  }
}

.content .textbox h2 span {
  color: #f14a60;
}

.features h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.features h3 {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.features h3 span {
  color: #f14a60;
}

.features p {
  width: 100%;
  max-width: 285px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: gray;
}

.testimonial-section h2 {
  text-align: center;
  font-size: 4rem;
  color: gray;
  margin-top: 30px;
}
@media only screen and (max-width: 450px) {
  .testimonial-section h2 {
    font-size: 3rem;
  }
}

.testimonial-section .cont div h2 {
  color: #ea830e;
  font-size: 1em;
  margin: 25px 0;
}

.testimonial-section .cont div p {
  font-size: 1.6em;
  width: 80%;
  margin: auto;
  color: gray;
}
@media only screen and (max-width: 500px) {
  .testimonial-section .cont div p {
    line-height: 25px;
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 450px) {
  .testimonial-section .cont div p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  .footer-text {
    margin-bottom: 2.4rem;
  }
}

footer .footer-h2 {
  font-size: 4em;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;
  margin-bottom: 2.4rem;
}
@media only screen and (max-width: 991px) {
  footer .footer-h2 {
    font-size: 3rem;
  }
}

footer .footer-h2 span {
  color: #f14a60;
}

.textbox h2 {
  font-size: 3em;
  margin-bottom: 1.4rem;
}

.textbox p {
  margin-bottom: 1.4rem;
}

h3 {
  text-align: center;
  margin-bottom: 48px;
  color: #777;
}

.btn-box {
  width: 100%;
  margin: 25px auto;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.features-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 5.4rem;
  padding-top: 35px;
}
@media only screen and (max-width: 991px) {
  .features-container {
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
  }
}
@media only screen and (max-width: 800px) {
  .features-container {
    margin-left: 125px;
  }
}
@media only screen and (max-width: 600px) {
  .features-container {
    margin-left: 92px;
  }
}
@media only screen and (max-width: 500px) {
  .features-container {
    margin-left: 65px;
  }
}

.features img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.4rem;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s;
}

.features img:hover {
  transform: scale(1.5);
}
@media only screen and (max-width: 450px) {
  .features img:hover {
    transform: scale(0);
  }
}

.features a {
  text-decoration: none;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 800px) {
  .features-box:nth-child(1) {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .features-box:nth-child(3) {
    margin-top: 60px;
  }
}

.form-body {
  background-color: pink;
}

.container {
  width: 367px;
  height: 400px;
  margin: 8% auto;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.container form {
  width: 369px;
  position: absolute;
  top: 30px;
  left: -2px;
  transition: 0.5s;
  padding: 33px;
  background: #fff;
}

form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #998;
  outline: none;
  background: transparent;
}

::placeholder {
  color: #777;
}

form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background-color: #000;
  /* background: linear-gradient(to right, #ff105f, #ffad06); */
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.success-body {
  background-color: pink;
}

.successful-box {
  width: 367px;
  height: 400px;
  margin: 8% auto;
  background: #fff;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.hidden {
  display: none;
}

.successful-wrap {
  text-align: center;
  display: grid;
  place-content: center;
  padding: 40px;
}

.successful-box h2 {
  text-align: center;
  margin-bottom: 48px;
  color: #777;
}

.success-text {
  font-size: 1.4rem;
  line-height: 1.4;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.successful-box .success {
  width: 70%;
  height: 35px;
  background-color: #000;
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #fff;
  cursor: pointer;
  list-style: none;
}

.circle {
  width: 65px;
  height: 66px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-left: 38%;
  margin-top: -36px;
  margin-bottom: 30px;
  font-weight: bold;
}

.hero-sec {
  position: relative;
  width: 100%;
  border-radius: 10px;
  padding: 50px 100px;
  display: flex;
}
@media only screen and (max-width: 991px) {
  .hero-sec {
    padding: 100px;
  }
}
@media only screen and (max-width: 800px) {
  .hero-sec {
    padding: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .hero-sec {
    padding: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .hero-sec {
    padding: 20px;
  }
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .content {
    flex-direction: column;
  }
}

.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #f14a60;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 991px) {
  .content .textbox a {
    font-size: 14px;
    padding: 8px 15px;
  }
}

.content .imgBox {
  display: flex;
  padding-right: 50px;
  margin-top: -70px;
  justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
  .content .imgBox {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    justify-content: center;
    padding-bottom: 140px;
  }
}
@media only screen and (max-width: 800px) {
  .content .imgBox {
    margin-top: 0px;
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 600px) {
  .content .imgBox {
    margin-top: -22px;
    padding-bottom: 78px;
  }
}
@media only screen and (max-width: 450px) {
  .content .imgBox {
    margin-top: -33px;
    padding-bottom: 93px;
  }
}
@media only screen and (max-width: 400px) {
  .content .imgBox {
    margin-top: 22px;
  }
}

.content .bg-img-1 {
  width: 100%;
  max-width: 600px;
  margin-right: -135px;
  border-radius: 10px;
}
@media only screen and (max-width: 1200px) {
  .content .bg-img-1 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .content .bg-img-1 {
    margin-right: 0;
    width: 80%;
  }
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.thumb li img {
  max-width: 40px;
  transition: 0.5s ease-out;
}

.thumb li img:hover {
  transform: scale(2.2);
}

.our-service .seperator {
  height: 1px;
  width: 70%;
  margin: 25px 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  left: 15%;
}

.seperator::before {
  content: "OUR COLLECTIONS";
  color: #ccc;
  font-size: 35px;
  padding: 0 15px;
  background: #f7f4f4;
}
@media only screen and (max-width: 500px) {
  .seperator::before {
    font-size: 23px;
  }
}

.our-service .carousel {
  width: 300px;
  margin: 100px auto 0;
  overflow: visible;
}

.our-service .carousel li {
  list-style: none;
}

.our-service a {
  text-decoration: none;
  list-style: none;
}

.box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.slide-img {
  height: 450px;
  position: relative;
}

.slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.type {
  display: flex;
  flex-direction: column;
}

.type a {
  color: #222222;
  margin: 5px 6px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.type span {
  color: rgba(26, 26, 26, 0.5);
  margin: 0 6px;
}

.price {
  color: #333333;
  font-weight: 600;
  font-family: poppins;
  letter-spacing: 0.5px;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 95, 236, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.email-btn:hover {
  color: #ffffff;
  background-color: #f15fa3;
  transition: all ease 0.3s;
}

.overlay {
  visibility: hidden;
}

.body {
  background: #f7f4f4;
  margin-top: -30px;
}

.packages {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media only screen and (max-width: 991px) {
  .packages {
    flex-direction: column;
    margin-bottom: 6.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .packages:nth-child(2),
.packages:nth-child(4),
.packages:nth-child(6) {
    flex-direction: column-reverse;
  }
}

.packages:last-child {
  margin-bottom: 0;
  padding-bottom: 60px;
}

@media only screen and (max-width: 991px) {
  .packages img {
    margin-bottom: 2.4rem;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .packages-text-box {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .packages-text-box {
    line-height: 1.6;
  }
}

.packages-h3 {
  margin-bottom: 1.2rem;
}

.packages-text,
.note,
.training {
  line-height: 35px;
}

.package-img-6 {
  width: 100%;
  max-width: 600px;
}

.training-pg {
  margin-top: 100px;
}

.training-h3 {
  margin-bottom: 1.2rem;
}

.training {
  width: 100%;
  max-width: 400px;
}

.packages-img-6 {
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
}

.flex {
  display: flex;
  gap: 10px;
}

.testimonial-wrapper {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testimonial-section .arrow {
  display: block;
  position: absolute;
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}
@media only screen and (max-width: 500px) {
  .testimonial-section .arrow {
    font-size: 1.5rem;
  }
}

.testimonial-section .arrow::before {
  cursor: pointer;
}

.testimonial-section .arrow.left {
  left: 10px;
}
@media only screen and (max-width: 500px) {
  .testimonial-section .arrow.left {
    top: 62%;
    color: #ea830e;
  }
}

.testimonial-section .arrow.right {
  right: 10px;
}
@media only screen and (max-width: 500px) {
  .testimonial-section .arrow.right {
    top: 62%;
    color: #ea830e;
  }
}

.testimonial-section .arrow:hover {
  color: #ea830e;
}

.testimonial-section .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}

.testimonial-section .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.testimonial-section .dots .dot.active,
.testimonial-section .dots .dot:hover {
  background: #ea830e;
  border-color: #ea830e;
}

.testimonial-section .dots .dot.active {
  animation: testimonial-scale 0.5s ease-in-out forwards;
}

.testimonial-section .cont {
  position: relative;
  overflow: hidden;
}

.testimonial-section .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

/* .testimonial-section .cont > div.inactive {
  opacity: 1;
} */
.testimonial-section .cont > div.active {
  opacity: 1;
  position: relative;
}

.testimonial-section .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}

.up {
  font-size: 52px;
  display: flex;
  justify-content: end;
  align-items: baseline;
  cursor: pointer;
}

.scroll-link {
  text-decoration: none;
  color: #fff;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
@media only screen and (max-width: 800px) {
  .footer-container {
    flex-wrap: wrap;
    width: 80%;
    margin: 0px 60px 60px;
  }
}
@media only screen and (max-width: 400px) {
  .footer-container {
    margin: 0px 42px 51px;
  }
}
@media only screen and (max-width: 350px) {
  .footer-container {
    margin: 0px 38px 51px;
  }
}

.phone {
  margin-bottom: 1.4rem;
}

@media only screen and (max-width: 600px) {
  .footer-contact {
    margin-bottom: 1.4rem;
  }
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media only screen and (max-width: 450px) {
  .social-links {
    gap: 0;
    justify-content: space-evenly;
    width: 50%;
  }
}

.copyright {
  text-align: center;
  margin-left: 200px;
}
@media only screen and (max-width: 600px) {
  .copyright {
    margin-left: 0;
  }
}

footer a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  z-index: 10;
}
@media only screen and (max-width: 991px) {
  .navbar {
    padding: 20px 40px;
    justify-content: space-between;
    margin: 0;
  }
}

.sticky {
  position: fixed;
  top: -2px;
  left: 78px;
  width: 90%;
  background: #f7f4f4;
  height: 90px;
}
@media only screen and (max-width: 991px) {
  .sticky {
    left: 0;
  }
}

.sticky + .hero-sec {
  padding-top: 200px;
}

.links {
  flex: 0.98;
  text-align: right;
}
@media only screen and (max-width: 991px) {
  .links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    visibility: hidden;
    opacity: 0;
  }
}

.links li {
  display: inline-block;
  list-style: none;
}

@media only screen and (max-width: 991px) {
  .navbar ul.active {
    visibility: visible;
    opacity: 1;
  }
}

.logo {
  width: 100%;
  max-width: 200px;
  margin-left: 35px;
  cursor: pointer;
  outline: none;
}
@media only screen and (max-width: 991px) {
  .logo {
    position: relative;
    max-width: 185px;
  }
}
@media only screen and (max-width: 800px) {
  .logo {
    margin-left: -30px;
    max-width: 220px;
  }
}

.links .nav-links a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  position: relative;
  outline: none;
}
@media only screen and (max-width: 991px) {
  .links .nav-links a {
    display: inline-block;
    color: #111;
    font-weight: 400;
    margin-left: 0;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 991px) {
  .navbar ul li a:hover {
    color: #f14a60;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
}

.toggleMenu {
  display: none;
}
@media only screen and (max-width: 991px) {
  .toggleMenu {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    z-index: 2;
    cursor: pointer;
  }
}
@media only screen and (max-width: 500px) {
  .toggleMenu {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  .toggleMenu.active {
    background: url(/images/close.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
    filter: invert(1);
  }
}

.links .nav-links a::after {
  content: "";
  width: 0;
  height: 10px;
  background-color: #f14a60;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  transition: 0.5s;
}

.links .nav-links a:hover::after {
  width: 100%;
}

.navbar-icons img {
  height: 25px;
  margin-left: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .navbar-icons img {
    height: 32px;
  }
}

.header {
  width: 90%;
  margin: 0 auto 180px;
}
@media only screen and (max-width: 991px) {
  .header {
    margin-bottom: 120px;
  }
}

@media only screen and (max-width: 800px) {
  .features {
    margin-top: -40px;
  }
}

.our-service {
  width: 100%;
  padding: 100px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
@media only screen and (max-width: 800px) {
  .our-service {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 450px) {
  .our-service {
    padding: 100px 30px;
  }
}

.testimonial-section {
  width: 100%;
}

.section-packages {
  margin-top: -100px;
  font-size: 1.4rem;
}

footer {
  height: 400px;
  background: black;
  display: grid;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
