.hero-sec {
  position: relative;
  width: 100%;
  border-radius: 10px;
  padding: 50px 100px;
  display: flex;

  @include respond(tab-port) {
    padding: 100px;
  }

  @include respond(tab-view) {
    padding: 60px;
  }
  @include respond(phone) {
    padding: 40px;
  }
  @include respond(phone-vp) {
    padding: 20px;
  }
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.content .textbox a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #f14a60;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: 14px;
    padding: 8px 15px;
  }
}

.content .imgBox {
  display: flex;
  padding-right: 50px;
  margin-top: -70px;
  justify-content: flex-end;

  @include respond(tab-port) {
    width: 100%;
    display: flex;
    padding-right: 0;
    margin-top: 50px;
    justify-content: center;
    padding-bottom: 140px;
  }

  @include respond(tab-view) {
    margin-top: 0px;
    padding-bottom: 70px;
  }

  @include respond(phone) {
    margin-top: -22px;
    padding-bottom: 78px;
  }

  @include respond(phone-vp) {
    margin-top: -33px;
    padding-bottom: 93px;
  }
  @include respond(phone-vp-small) {
    margin-top: 22px;
  }
}

.content .bg-img-1 {
  width: 100%;
  max-width: 600px;
  margin-right: -135px;
  border-radius: 10px;

  @include respond(tab-land) {
    max-width: 100%;
  }

  @include respond(tab-port) {
    margin-right: 0;
    width: 80%;
  }
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

// .thumb li:hover {
//   transform: translateY(-15px);
// }

.thumb li img {
  max-width: 40px;
  transition: 0.5s ease-out;
}

.thumb li img:hover {
  transform: scale(2.2);
}
