*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  // font-family: "Oswald", sans-serif;
}

body {
  margin: 0 auto;
  background: #f7f4f4;

  @include respond(phone-small) {
    font-size: 14px;
  }
}

#loading {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #f7f4f4 url(/images/logo.png.png) no-repeat center;
  z-index: 99999;

  @include respond(tab-view) {
    background-size: 300px;
  }
}

.fa-chevron-left:before {
  content: "\f053";
  font-family: "fontAwesome";
}

.fa-chevron-right:before {
  content: "\f054";
  font-family: "fontAwesome";
}
