.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;

  @include respond(tab-view) {
    flex-wrap: wrap;
    width: 80%;
    margin: 0px 60px 60px;
  }

  @include respond(phone-vp-small) {
    margin: 0px 42px 51px;
  }
  @include respond(phone-small-vp) {
    margin: 0px 38px 51px;
  }
}

.phone {
  margin-bottom: 1.4rem;
}

.footer-contact {
  @include respond(phone) {
    margin-bottom: 1.4rem;
  }
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @include respond(phone-vp) {
    gap: 0;
    justify-content: space-evenly;
    width: 50%;
  }
}

.copyright {
  text-align: center;
  margin-left: 200px;

  @include respond(phone) {
    margin-left: 0;
  }
}

footer a {
  color: #fff;
  text-decoration: none;
}
